body {
    font-family: 'Poppins';
    font-weight: 400;
    color: $main-color;
}

a {
    text-decoration: none;
    color: $main-color;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

	@media screen and (min-width: $breakpoint-sm) {
		max-width: 700px;
	}

	@media screen and (min-width: $breakpoint-md) {
		max-width: 870px;
	}
	
	@media screen and (min-width: $breakpoint-lg) {
		max-width: 1200px;
	}

	@media screen and (min-width: $breakpoint-xl) {
		max-width: 1400px;
	}
}

.wrapper__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 100%;
	gap: 55px;
	padding: 46px 0 0;
}

.btn {
    border-radius: 6px;
    background: $brand-color;
    padding: 8px 17px;
	color: $text-color;
	display: inline-block;

	&:hover {
		background: $dark-brand-color;
		color: $text-color;
	}
}