.products {
    line-height: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

    @media screen and (min-width: $breakpoint-md) {
        flex: 1 1 46%;
    }

    @media screen and (min-width: $breakpoint-lg) {
        flex: 1 1 54%;
    }

    &__container {
        position: relative;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 0 30px;
    }

    &__list-left {
        display: flex;
        gap: 40px;
    }

    &__list-right {
        display: flex;
        gap: 8px;

        p {
            display: flex;
            align-items: center;
            font-size: 15px;
        }
    }

    &__list-item {
        font-size: 15px;
    }

    &__cards {
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        padding: 0 0 90px;

        @media screen and (min-width: $breakpoint-xl) {
            flex-wrap: wrap;
            gap: 37px;
        }
    }

    &__cards-card {
        width: 238px;
        flex: 1 1 30%;

        @media screen and (min-width: $breakpoint-sm) {
            flex: 1 1 28%;
        }

        @media screen and (min-width: $breakpoint-md) {
            flex: 1 1 29%;
        }

        @media screen and (min-width: $breakpoint-lg) {
            width: 258px;
            flex: 1 1 30%;
        }

        &:hover .products__cards-card-icons{
            display: flex;
        }
    }

    &__cards-card-img {
        position: relative;
        padding: 0 0 22px;
        display: flex;
        justify-content: center;

        img {
            height: 120px;
            width: 120px;

            @media screen and (min-width: $breakpoint-lg) {
                height: 200px;
                width: 200px;
            }
        }
    }

    &__cards-card-icons {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        gap: 10px;
        justify-content: center;
        display: none;
        
        @media screen and (min-width: $breakpoint-md) {
            gap: 26px;
        }

        a {
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s linear;

            &:hover {
                background: rgba($brand-color, 0.7);
                border-radius: 10px;
                transition: all .3s linear;
            }

            svg {
                height: 20px;
                width: 20px;
                fill: $main-color;
            }
        }
    }

    &__cards-card-price a {
        font-weight: 700;
        font-size: 14px;
        color: $brand-color;

        @media screen and (min-width: $breakpoint-md) {
            font-size: 18px;
        }

        .prev-value {
            padding: 0 0 0 17px;
            color: #CBCBCB;
            font-weight: 400;
            text-decoration: line-through;

            &.sale::before {
                content: '13% OFF';
                position: absolute;
                top: 10px;
                left: 0;
                background: $brand-color;
                padding: 8px;
                color: $text-color;
                font-weight: 500;
            }
        }
    }

    &__numbers {
        position: absolute;
        bottom: 0px;
        right: 20px;
    }

    &__numbers-list {
    }

    &__numbers-arrow-prev a, &__numbers-arrow-next a {
        padding: 6px 10px;

        svg {
            height: 14px;
            width: 12px;
            fill: $dark-brand-color;
        }
    }

    &__numbers-arrow-prev a svg {
        transform: rotate(180deg);
    }

    &__numbers-item {
    }
}

.bg-body-tertiary {
    background: transparent;
    --bs-bg-opacity: 0;
}

.navbar-nav .nav-link.active {
    color: $brand-color;
    border-bottom: 3px solid #46A358;
    font-weight: 700;
}

.btn-secondary {
    border-color: transparent;
    --bs-btn-active-bg: $dark-brand-color;
    --bs-btn-active-color: $main-color;
    font-size: 15px;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #46A358;
}

.card {
    &:hover {
        --bs-card-border-color: none;
        border-bottom: 1px solid #CBCBCB;
        border-right: 1px solid #CBCBCB;
        border-left: 1px solid #CBCBCB;
        border-top: 1px solid $brand-color;
    }
}

.active>.page-link, .page-link.active {
    background-color: $brand-color;
    border-color: $brand-color;
}

.page-link {
    color: $brand-color;
}

.pagination {
    --bs-pagination-color: $brand-color;
    --bs-pagination-hover-color: $brand-color;
    --bs-pagination-focus-color: $brand-color;
    --bs-pagination-active-bg: $dark-brand-color;
    --bs-pagination-active-border-color: $dark-brand-color;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(34, 132, 45, 0.25);
}
